# Compiled class file
*.class

# Log file
*.log

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xmlhs_err_pid*

**/.idea
*.iml
**/out
**/.gradle
**/build/**
**/target/**
**/dependencies/**
